# dependencies
node_modules/

# build output
dist/
build/

# misc
.DS_Store
*.log
.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.log
.venv/
env/

# Python virtual environments
env/
venv/
.venv/
backend/env/
